form

  .field
    padding: 0.5em 0

  legend
    display: block
    margin-bottom: 1em

  label
    display: block
    float: left
    text-align: right
    margin-right: 1em
    width: 5em


  input[type="text"], input[type="email"], input[type="url"], input[type="search"], textarea, select, input[type="submit"], button
    font:
      size: 0.85em
      family: sans-serif

  input[type="text"], input[type="email"], input[type="url"], input[type="search"], textarea
    padding: 0.25em 0.5em
    border: 1px solid #7E7E7E
    width: 100%

  input[type="submit"], button
    padding: 0.5em 1em
    cursor: pointer
    border: 1px solid #777

