.column {
  height: 100px;
  margin-bottom: 16px;
  background-color: $light-grey;
  border: 1px solid $medium-grey; }

#columns-1 {
  .column {
    @include column;
    @include span(24, -2px); } }

#columns-2 {
  .column {
    @include column;
    @include span(12, -2px); } }

#columns-3 {
  .column {
    @include column;
    @include span(8, -2px); } }

#columns-4 {
  .column {
    @include column;
    @include span(6, -2px); } }

#columns-6 {
  .column {
    @include column;
    @include span(4, -2px); } }

#columns-8 {
  .column {
    @include column;
    @include span(3, -2px); } }

#columns-12 {
  .column {
    @include column;
    @include span(2, -2px); } }

#columns-24 {
  .column {
    @include column;
    @include span(1, -2px); } }
