// Define your own grid
$grid-columns: 24;
$grid-column-width: 24px;
$grid-gutter-width: 16px;

// Set your base font size
$base-font-size: 16px;

// Color Variables
$white: white;
$silver: #f1f1f1;
$light-grey: #cccccc;
$medium-grey: #777777;
$dark-grey: #333333;
$black: black;
