/* html5doctor.com Reset Stylesheet
 * v1.6.1
 * Last Updated: 2010-09-17
 * Author: Richard Clark - http: //richclarkdesign.com
 * Twitter: @rich_clark */
/* line 10, ../../templates/sass/gridpaper/_reset.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  vertical-align: baseline;
  background: transparent;
  line-height: 1; }

/* line 24, ../../templates/sass/gridpaper/_reset.sass */
body {
  font-size: 16px; }

/* line 27, ../../templates/sass/gridpaper/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 30, ../../templates/sass/gridpaper/_reset.sass */
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold; }

/* line 33, ../../templates/sass/gridpaper/_reset.sass */
em, i {
  font-style: italic; }

/* line 36, ../../templates/sass/gridpaper/_reset.sass */
nav ul {
  list-style: none; }

/* line 39, ../../templates/sass/gridpaper/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 42, ../../templates/sass/gridpaper/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

/* line 46, ../../templates/sass/gridpaper/_reset.sass */
ins {
  text-decoration: none; }

/* line 49, ../../templates/sass/gridpaper/_reset.sass */
mark {
  font-style: italic;
  font-weight: bold; }

/* line 53, ../../templates/sass/gridpaper/_reset.sass */
del {
  text-decoration: line-through; }

/* line 56, ../../templates/sass/gridpaper/_reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 60, ../../templates/sass/gridpaper/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 64, ../../templates/sass/gridpaper/_reset.sass */
hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 0; }

/* line 72, ../../templates/sass/gridpaper/_reset.sass */
input, select {
  vertical-align: middle; }

/* line 75, ../../templates/sass/gridpaper/_reset.sass */
textarea {
  margin: 0; }

/* line 78, ../../templates/sass/gridpaper/_reset.sass */
h1 {
  font-size: 5em; }

/* line 80, ../../templates/sass/gridpaper/_reset.sass */
h2 {
  font-size: 4em; }

/* line 82, ../../templates/sass/gridpaper/_reset.sass */
h3 {
  font-size: 3em; }

/* line 84, ../../templates/sass/gridpaper/_reset.sass */
h4 {
  font-size: 2em; }

/* line 86, ../../templates/sass/gridpaper/_reset.sass */
h5 {
  font-size: 1.5em; }

/* line 88, ../../templates/sass/gridpaper/_reset.sass */
h6 {
  font-size: 1em; }

/* line 101, ../../templates/sass/gridpaper/_reset.sass */
.clear {
  display: block; }
  /* line 93, ../../templates/sass/gridpaper/_reset.sass */
  .clear:after {
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "\0020"; }

/* Default Gridpaper 24 Column Grid
 * Column Width: 24px
 * Gutter Width: 16px
 * Total Width: 976px */
/* line 3, ../../templates/sass/gridpaper/_forms.sass */
form .field {
  margin-bottom: 1em; }
/* line 6, ../../templates/sass/gridpaper/_forms.sass */
form legend {
  display: block;
  margin-bottom: 1em; }
/* line 10, ../../templates/sass/gridpaper/_forms.sass */
form label {
  display: block; }
/* line 13, ../../templates/sass/gridpaper/_forms.sass */
form input[type="text"], form input[type="email"], form input[type="url"], form input[type="search"], form textarea {
  padding: 0.25em 0.5em;
  font-size: 1em;
  font-family: sans-serif;
  border: 1px solid #7e7e7e; }
/* line 20, ../../templates/sass/gridpaper/_forms.sass */
form input[type="submit"] {
  padding: 0.5em 1em;
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer; }

/* line 2, _columns.sass */
#columns-example .row {
  overflow: hidden; }
  /* line 5, _columns.sass */
  #columns-example .row .grid-column {
    min-height: 15em;
    margin: 0.5em 0;
    background: url(../images/grid.png);
    border-top: 1px solid rgba(221, 125, 150, 0.3);
    border-right: 1px solid rgba(125, 202, 221, 0.7);
    background-color: #f1f1f1; }
/* line 13, _columns.sass */
#columns-example #two-columns div {
  display: block;
  float: left;
  width: 463px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  #columns-example #two-columns div:last-child {
    margin-right: 0; }
/* line 18, _columns.sass */
#columns-example #three-columns div {
  display: block;
  float: left;
  width: 303px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  #columns-example #three-columns div:last-child {
    margin-right: 0; }
/* line 23, _columns.sass */
#columns-example #four-columns div {
  display: block;
  float: left;
  width: 223px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  #columns-example #four-columns div:last-child {
    margin-right: 0; }
/* line 28, _columns.sass */
#columns-example #six-columns div {
  display: block;
  float: left;
  width: 143px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  #columns-example #six-columns div:last-child {
    margin-right: 0; }
/* line 33, _columns.sass */
#columns-example #eight-columns div {
  display: block;
  float: left;
  width: 103px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  #columns-example #eight-columns div:last-child {
    margin-right: 0; }

/* line 40, _columns.sass */
#text-columns-example .text-columns {
  background: url(../images/grid.png);
  border-top: 1px solid rgba(221, 125, 150, 0.3);
  border-right: 1px solid rgba(125, 202, 221, 0.7);
  margin-bottom: 1.5em; }
/* line 44, _columns.sass */
#text-columns-example #two-text-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px; }
/* line 47, _columns.sass */
#text-columns-example #three-text-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px; }
/* line 50, _columns.sass */
#text-columns-example #four-text-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px; }

/* line 6, styles.sass */
body {
  width: 944px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #333333; }

/* line 10, styles.sass */
p {
  line-height: 1.5em;
  margin-bottom: 1.5em; }
  /* line 13, styles.sass */
  p:last-child {
    margin-bottom: 0; }

/* line 16, styles.sass */
section, header, footer {
  overflow: hidden;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em; }

/* line 21, styles.sass */
.box {
  display: block;
  float: left;
  width: 144px;
  margin-right: 16px; }
  /* line 23, ../../templates/sass/gridpaper/_grid.sass */
  .box:last-child {
    margin-right: 0; }

/* line 25, styles.sass */
.fake-button {
  -webkit-border-radius: 0px 30px;
  -moz-border-radius: 0px 30px;
  -ms-border-radius: 0px 30px;
  -o-border-radius: 0px 30px;
  border-radius: 0px 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  behavior: url(/javascripts/PIE.htc);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: linear-gradient(top, #eeeeee, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", EndColorStr="#aaaaaa"); }

/* line 30, styles.sass */
section h4:first-child {
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  color: white;
  background: #333333; }
