@mixin image($height: 200px) {
  display: block;
  height: $height;
  color: $light-grey;
  line-height: $height;
  text-align: center;
  background-color: $dark-grey; }

@mixin box {
  overflow: hidden;
  display: block;
  padding: 1em;
  background-color: $light-grey; }
