h1, h2, h3, h4, h5, h6 {
  margin-bottom: $base-font-size;
  font: {
    weight: bold; };
  line-height: 1; }

p {
  margin-bottom: $base-font-size;
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0; } }

hgroup {
  margin-bottom: $base-font-size;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0; } }
